<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<connectionStrings>
		<add name="default" connectionString="data source=127.0.0.1;uid=sa;pwd=1;initial catalog=TaobaoGrab;Connect Timeout=5"/>
	</connectionStrings>
</configuration>
